.header{background: #ef5350;height:60px;}
.header img{background: #ef5350;}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99999;
}
.logo{margin-right: 250px;}
.navbar-default {
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 0;
    padding: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    overflow: hidden;
}
.navbar-default .first a {
    border-radius: 0 0 0 5px;
}
.navbar-default .navbar-brand {
    margin-right: 50px;
    margin-left: 20px;
    width: 200px;
    height: 60px;
    background: url(../images/logo.png) no-repeat 0 50%;
}
.navbar-default .navbar-nav > li {
    margin-left: 1px;
}
.navbar-default .navbar-nav > li > a {
    padding: 30px 25px;
    font-size: 16px;
    line-height: 18px;
    color: #999;
}
.navbar-default .navbar-nav > li > a > i {
    display: inline-block;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
    background-color: #ef5350;
    color: #fff;
}
#home{
    margin-top:100px;
}
.btn-fb{
    background: #3b5998;
}
.btn-google{
    background: #d34836;
}
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}
.overlay{
    background: rgba(0,0,0,0.4);
    border-radius:10px;
}
.tilted{
    background: url("http://www.intrawallpaper.com/static/images/6809725-simple-vintage-backgrounds.jpg");
    border: 1px dotted #ef5350;
    border-radius: 5px;
    padding:20px;
    margin:20px;
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
}
.member {
    margin:-50px;
    text-align: center;
}
.member p img{border-radius: 10px;height:260px;}
#contact{
    background: rgba(0,0,0,0.4); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) , #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.4), #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom,rgba(0,0,0,0.4), #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) , #fff); /* Standard syntax */
    -webkit-box-shadow: 10px 11px 15px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 15px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 11px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 11px 15px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 11px 15px -10px rgba(0,0,0,0.75);
}
#contact input{
    background: #fff;
    padding-left:5px;
}

footer{
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top,  #fff,rgba(0,0,0,0.4) ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #fff,rgba(0,0,0,0.4) ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #fff,rgba(0,0,0,0.4) ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,#fff,rgba(0,0,0,0.4) ); /* Standard syntax */
}
.footer{padding: 20px 0 0px 0px;}
@media only screen and (max-width : 600px) {
    .logo{margin-right: 0;}
    .navbar-toggle{background:#000;}
}