<div class=""> 
    <div class="row" id="header">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="index.html"><img src="img/logo1.png" alt="logo"/></a>
            </div>
            <div class="collapse navbar-collapse ">
                <ul class="nav navbar-nav textRit">
                    <li class="active "><a  href="#home">Home</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#aboutUs">About Us</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

        </div>

    </div>

    <div class="container " id="home">
        <div class="row">
            <form name="loginform" class="col s12 m12 l4 right animated bounceInDown">
                <div class="input-field">
                    <input type="text"  ng-model="user.email" class="form-control" required>
                    <label  data-success="right">Email</label>
                    <div ng-messages="loginform.username.$error">								
                    </div>
                </div>
                <div class="input-field">
                    <input type="{{inputType}}"  ng-model="user.password" class="form-control" required>
                    <label  data-success="right">Password</label>
                    <div ng-messages="loginform.password.$error">
                    </div>
                </div>
                <div class="input-field">
                    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                    <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
                    <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                </div>

                <div class="row" style="margin-top: 20px;"><button ng-click = "login()" class="btn btn-success" >LOGIN</button></div>
                <div class="row" style="margin-top: 20px;">
                    <button class="btn btn-fb" ng-click="authenticate('facebook')">Login With  <i class="fa fa-facebook"></i></button></div>
                <div class="row" style="margin-top: 20px;"><button class="btn btn-google" ng-click="authenticate('google')" >Login With <i class="fa fa-google"></i></button></div>
                <div class="row" style="margin-top: 20px;"><button ng-click = "forgetPassword()" class="btn btn-info" >Forgot Password</button></div>
                <div class="row">
                    <div class="col-xs-6" style="font-weight: Bolder;padding:5px;">Not a Member?</div>
                    <div class="col-xs-6 textRit"><button  ng-click="register()" class="btn btn-info" >Register</button></div>
                </div>
            </form>  
            <div class="col s12 m12 l8 left animated pulse">
                <img height="400" width="500" class="img-responsive frontImg" src="img/frontImg.png" />
            </div>
        </div>
    </div> <!--/#home-->
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="container">
                    <div class="row center overlay animated bounceInDown">
                        <h5 class="col s12 animated bounceInUp">ReviewVerse - Every Opinion Counts</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/bg.jpeg" alt="Parallax" /></div>
    </div> <!--/#parallax-->
    <div id="aboutUs">   <!--#About--> 
        <h2 class="center">Why we created ReviewVerse</h2>
        <div class="container">
            <div class="section tilted ">
                <p class="animated zoomInLeft">Interested to know about the college you are applying to?
                    Wanna get in touch with the alumini to get a fairer more details? 
                    OR maybe 
                    It is a friday night and you want to know about the best restaurants in the area you would be travelling to..</p>
                <p class="animated zoomInRight">We at reviewVerse have been through the same at each stage of our life and that is why we have come up with the this awesome new platform. Decison making is anyways difficult 
                    and worse of all if you have no one to ask questions too, ReviewVerse aims at easying you out with your decision helping you to connect to people where you can ask for their 
                    opinion.Looking for a coaching institute to help you with your aim of JEE you rush to the many names suggested in the newspaper advertisments and are satisfied at none, why not check out
                    a former student had reviewed about it on reviewVerse, Let's save that energy for your studies, ok?!. We do suggest you to pick out your favourites and then go for a personal visit.</p>
                <p class="animated zoomInRight">There is nothing worse than going out for dinner and then having to eat substander food, what could be even worse is being charged exorbitant amount for the fish 
                    on your plate which was stinky and stale. We at reviewVerse want you to have a great meal so before you step out, do check out the star rating of the restaurant you are visiting 
                    and incase you do not find the restaurant we'll be happy to welcome your opinion on the restaurant you just visited! You can add a topic of your choice and categorise it in whichever
                    field it belongs and BAZINGA you have helped a lot people looking for the review of that particular topic!</p>
                <p class="animated zoomInLeft">
                    Let all your worries about visiting the wrong place end, may you find the best of what you are looking for. ReviewVerse gives you the chance to make every decision easier from looking for the
                    best grocery shop in the area near you to the next place you would like to visit on you weekend get away! Just Rate everything to make the community bigger and better.</p>
                <p class="animated zoomInRight">Every opinion counts folks! so lets get going and start with a journey towards less drama and more value for money.
                    Create a free account and start with rating and writing a review for your previous institution or the most recent cafe you visited. 
                    Lets help the community better.<br>
                    Invite your friends and family today :)</p>
            </div>
        </div>
    </div>            <!--/#About-->
    <div id="team">
        <div class="section">
            <h2 class="center">Meet the Team</h2>
            <div class="row">
                <div class="carousel center">
                    <a class="carousel-item" href="#one!">
                        <div class="member animated rotateIn">
                            <p><img class="responsive-img" src="img/Anurag.jpg" alt="" /></p>
                            <p>Anurag Parihar<small class="designation"> CEO &amp; Founder</small></p>
                        </div>
                    </a>
                    <a class="carousel-item" href="#two!">
                        <div class="member animated rotateIn">
                            <p><img class="responsive-img" src="img/Navneet.jpg" alt="" /></p>
                            <p>Navneet Kumar<small class="designation"> CPO &amp; Co-Founder</small></p>
                        </div></a>
                    <a class="carousel-item" href="#three!">
                        <div class="member animated rotateIn">
                            <p><img class="responsive-img" src="img/Utkarsh.jpg" alt="" /></p>
                            <p>Utkarsh Markanday<small class="designation"> Technical Head &amp; Co-Founder</small></p>
                        </div>
                    </a>    
                </div>
            </div>   
        </div>
    </div><!--/#Team-->
    <div>
        <div id="contact">
            <div class="container box last">
                <div class="row">
                    <div class="col-sm-6 animated fadeInLeftBig">
                        <h3>Contact Form</h3>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" required placeholder="Message" rows="20" class="messageTextarea"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6 animated fadeInRightBig">
                        <h3>Our Address</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <strong>ReviewVerse Inc.</strong><br>
                                    Shakarpur, Delhi-92<br>
                                    India<br>
                                    <abbr title="Phone">Ph:</abbr>+91 9654306561
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                        </div>
                        <h3>Connect with us</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i> Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/#contact-->
        <footer>
            <div class="container">
                <div class="row left footer animated pulse">&copy; Developed by WeDev</div>
            </div>
        </footer>
    </div>
</div>
<script>
    jQuery('a[href^="#"]').click(function(e) {
        jQuery('html,body').animate({scrollTop: jQuery(this.hash).offset().top}, 1000);
        return false;
        e.preventDefault();
    });
</script>