<div class="container-fluid" id="topic" >
    <div class="col-sm-6 ">
        <div class="event-title">
            <h3>{{topicDetails.name}}</h3></div>
        <div class="event-content">
            <p>{{topicDetails.description}}</p></div>
        <div class="topicUpvotes"><button class="likeButton" ng-disabled="topicDetails.voters_up == userId" ng-click="incrementUpvotes(topicDetails._id)"><i class="fa fa-thumbs-o-up" style="font-size: 20px;"></i></button>
            <span>{{topicDetails.upvotes}}</span></div>

        <div class="average">
            <average-star-rating ng-model="topicDetails.avgRating" max="5"></average-star-rating> {{topicDetails.avgRating| number:2}}  <br></div>
        <!--                        <div class="star-rating" star-rating  rating-value="topic.avgRating" data-max="5" on-rating-selected="rateFunction(topic.avgRating)"></div>-->

        <!--  {{getReviews(topic._id)}}-->
        <!--Show Previous Reviews-->
        <div class="reviews">
            <h4 ng-hide="topicDetails.reviews == null || topicDetails.reviews.length == 0">Reviews </h4>
            <div ng-repeat="review in topicReviews" class="reviewCard">    

                <div class="row ">
                    <div class="col-sm-6 left">
                        <span class="reviewerName">{{review.reviewerName}}</span><br>
                        <span class="reviewBody">{{review.body}}</span>
                    </div>
                    <div class="col-sm-6 right"><average-star-rating ng-model="review.rating" max="5"></average-star-rating> {{review.rating}} 
                        <div class="row reviewUpvotes"><button class="likeButton" ng-click="incrementReviewUpvotes(review._id)"><i class="fa fa-thumbs-o-up"></i></button>
                            {{review.upvotes}} </div>
                    </div>   
                </div>

            </div>
        </div>
    </div>

    <!--    Load More button -->
    <!--      <button ng-click="loadMore($index)" ng-hide="node.limit >= node.childs.length">Load more</button>-->

    <div class="col-sm-6 event-thumb ">
        <carousel interval="myInterval" width="auto" height="auto">
            <slide ng-repeat="image in topicDetails.imageArray" >
                <img class="img-responsive topicImage" ng-src="{{image}}" >
            </slide>
        </carousel><br>

        <!--        Rating Card-->
        <div class="row" id="ratingCard">
            <div class="col-xs-12 col-md-7">
                <div class="row rating-desc">
                    <div class="col-xs-3 col-md-3 text-right">
                        <span class="fa fa-star"></span>5
                    </div>
                    <div class="col-xs-8 col-md-9">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 text-right">
                        <span class="fa fa-star"></span>4
                    </div>
                    <div class="col-xs-8 col-md-9">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 text-right">
                        <span class="fa fa-star"></span>3
                    </div>
                    <div class="col-xs-8 col-md-9">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 text-right">
                        <span class="fa fa-star"></span>2
                    </div>
                    <div class="col-xs-8 col-md-9">
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">20%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 text-right">
                        <span class="fa fa-star"></span>1
                    </div>
                    <div class="col-xs-8 col-md-9">
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                                <span class="sr-only">15%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <div class="col-xs-12 col-md-5 text-center">
                <h1 class="rating-num">{{topicDetails.avgRating| number:2}}</h1>
                <div class="rating">
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star-half-empty"></span>
                </div>
                <div>
                    <span class="fa fa-user"></span>{{topicDetails.upvotes}} total Upvotes
                </div>
            </div>
        </div>
        <!--Rating card Finish-->

        <!--        Tabs for Featured Reviews-->

        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#positive">Positive</a></li>
                <li class="tab col s3"><a  href="#negative">Negative</a></li>
                <li class="tab col s3"><a href="#latest">Latest</a></li>
                <li class="tab col s3"><a href="#topLiked">Top Liked</a></li>
            </ul>
        </div>
        <!--        Positive Reviews-->
        <div id="positive" class="col s12">
            <div class="reviews">
                <div ng-repeat="pReview in pReviews" class="positiveReviewCard">    
                    <div class="row ">
                        <div class="col-sm-6 left">
                            <span class="reviewerName">{{pReview.reviewerName}}</span><br>
                            <span class="reviewBody">{{pReview.body}}</span>
                        </div>
                        <div class="col-sm-6 right"><average-star-rating ng-model="pReview.rating" max="5"></average-star-rating> {{pReview.rating}} 
                            <div class="row reviewUpvotes"><button class="likeButton" ng-click="incrementReviewUpvotes(pReview._id)"><i class="fa fa-thumbs-o-up"></i></button>
                                {{pReview.upvotes}} </div>
                        </div>   
                    </div>

                </div>
            </div> 
        </div>

        <div id="negative" class="col s12">
            <div class="reviews">
                <div ng-repeat="nReview in nReviews" class="negativeReviewCard">    
                    <div class="row ">
                        <div class="col-sm-6 left">
                            <span class="reviewerName">{{nReview.reviewerName}}</span><br>
                            <span class="reviewBody">{{nReview.body}}</span>
                        </div>
                        <div class="col-sm-6 right"><average-star-rating ng-model="nReview.rating" max="5"></average-star-rating> {{nReview.rating}} 
                        <div class="row reviewUpvotes"><button class="likeButton" ng-click="incrementReviewUpvotes(nReview._id)"><i class="fa fa-thumbs-o-up"></i></button>
                        {{nReview.upvotes}} </div>
                        </div>    
                    </div>
                </div>
            </div> 
        </div>
        <div id="latest" class="col s12">
            <div class="reviews">
                <div ng-repeat="lReview in lReviews" class="latestReviewCard">    
                    <div class="row ">
                        <div class="col-sm-6 left">
                            <span class="reviewerName">{{lReview.reviewerName}}</span><br>
                            <span class="reviewBody">{{lReview.body}}</span>
                        </div>
                        <div class="col-sm-6 right"><average-star-rating ng-model="lReview.rating" max="5"></average-star-rating> {{lReview.rating}} 
                        <div class="row reviewUpvotes"><button class="likeButton" ng-click="incrementReviewUpvotes(lReview._id)"><i class="fa fa-thumbs-o-up"></i></button>
                        {{lReview.upvotes}} </div></div>   
                    </div>
                    
                </div>
            </div> 
        </div>
        <div id="topLiked" class="col s12">
            <div class="reviews">
                <div ng-repeat="tlReview in tlReviews" class="topLikedReviewCard">    
                    <div class="row ">
                        <div class="col-sm-6 left">
                            <span class="reviewerName">{{tlReview.reviewerName}}</span><br>
                            <span class="reviewBody">{{tlReview.body}}</span>
                        </div>
                        <div class="col-sm-6 right"><average-star-rating ng-model="tlReview.rating" max="5"></average-star-rating> {{tlReview.rating}} 
                        <div class="row reviewUpvotes"><button class="likeButton" ng-click="incrementReviewUpvotes(tlReview._id)"><i class="fa fa-thumbs-o-up"></i></button>
                        {{tlReview.upvotes}} </div></div>   
                    </div>
                </div>
            </div> 
        </div>

    </div><br>
    <div class="col-sm-12 emptySpace">
    </div>

</div>
