<div class="modal-header">
    <div class="row">
        <div class="col-md-7">
            <h2>{{username}}</h2>
            <h3><img src={{img}} /></h3>
        </div>
        <div class="col-md-5">
            <div class="row">
            <div class="col-sm-8">
            <form class="navbar-form right-aligned" role="search">
    
      <input class="form-control" placeholder="&#xF002;" style="font-family:Arial, FontAwesome;float:right;height:34px;" ng-model="searchString" name="srch-term" id="srch-term" type="text">
    
  </form>
    </div>
            <div class="col-sm-4">
                <button class="btn btn-logout right-aligned" ng-click="logout()" >Log Out  <i class="glyphicon glyphicon-log-out"></i></button>
            </div>
                </div>
            </div>
        </div>
</div>

<div class="modal-body">
    <div class="container">
        <div class="fixed-action-btn" style="bottom: 45px; right: 25px;">
            <button type="button" class="btn-floating btn-large red" data-toggle="modal" data-target="#postTopic"><i class="large material-icons fa fa-pencil"></i></button>
        </div>
        <!--Post Topic Details-->
        <div class="row" id="topic" ng-repeat="topic in topics | orderBy : '-created' | filter: searchString ">
            <div class="col-sm-6 ">
                <div class="event-title">
                    <h3>{{topic.name}}</h3></div>
                <div class="event-content">
                    <p>{{topic.description}}</p></div>
                <div class="topicUpvotes"><button class="btn btn-primary" ng-disabled="disable(topic)" ng-click="incrementUpvotes(topic._id)"><i class="fa fa-thumbs-o-up"></i>Like</button>
                    Upvotes: {{topic.upvotes}} </div>
                {{topic.avgRating}}
                <div class="average">
                    <average-star-rating ng-model="topic.avgRating" max="5"></average-star-rating>   <br></div>
                <!--                        <div class="star-rating" star-rating  rating-value="topic.avgRating" data-max="5" on-rating-selected="rateFunction(topic.avgRating)"></div>-->
                {{topic._id}}
                <!--Post Reviews-->
                <form  >
                    <div class="form-group">
                        <!--                                <input type="text" class="form-control" placeholder="Topic Id" ng-model="topicId" />-->
                        <input type="text" class="form-control" placeholder="Post Review" ng-model="newReview" />
                        <star-rating ng-model="reviewRating" max="5"></star-rating>{{reviewRating.rating}}<br/>

                        <!--                                <div class="star-rating" star-rating rating-value="reviewRating" data-max="5" on-rating-selected="rateFunction(reviewRating)"></div>-->

                        <button type="submit" class="btn-small" ng-click="addReview(topic._id, newReview, reviewRating.rating)" class="btn btn-primary">Post Review</button>
                    </div>
                </form>    

                <!--Show Previous Reviews-->
                <h4>Reviews</h4>
                <ul ng-if="(topic._id == review.ownerTopicId)" ng-repeat="review in reviews| orderBy :'-created'">                               
                    <li><p><span>{{review.body}}</span> by {{review.authorId}} <span> Upvotes -> {{review.upvotes}}</span>
                    <average-star-rating ng-model="review.rating" max="5"></average-star-rating>     
                    <div class="topicUpvotes"><button class="btn-small-2" ng-disabled="isDisabled" ng-click="incrementReviewUpvotes(review._id)"><i class="fa fa-thumbs-o-up"></i>Like</button>
                        Upvotes: {{review.upvotes}} </div></p></li>
                </ul>

            </div>
            <div class="col-sm-6 event-thumb">
                <img class="img-responsive" ng-src="{{topic.image}}" width="400" height="300"/>
            </div><br>
            <div class="col-sm-12 emptySpace">
            </div>

        </div>
    </div>
</div>     

<!--Post Modal-->
<div class="modal fade" id="postTopic" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new Topic</h4>
        </div>
        <div class="modal-body">
            <form >
                <input type="text" ng-model="newName" placeholder="Title" required/>
                <input type="text" ng-model="newDescription" placeholder="Topic" required/>
                <input type="text" ng-model="newCategory" placeholder="Category" required/>
                <input type="file" accept="image/*" multiple
                       ng-src="{{newImage}}"
                       resize-max-height="300"
                       resize-max-width="250"
                       resize-quality="0.7" />
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" ng-click="addTopic()" style="margin-right:10px;" class="btn btn-default" data-dismiss="modal">Post</button>
        </div>
    </div>
</div>












<!--  </body>
  <script src="lib/angular.min.js"></script>
  <script src="js/app.js"></script>
</html>-->