<div class="modal-header">
    <div class="row">
        <div class="col-md-7">
            <h2>{{username}}</h2>
            <h3 ><img class="img-circle img-responsive userImg" src={{img}} /></h3>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-sm-8">
                    <form class="navbar-form right-aligned" role="search">
                        <input class="form-control" placeholder="&#xF002;" style="font-family:Arial, FontAwesome;float:right;height:34px;" ng-model="searchString" name="srch-term" id="srch-term" type="text">
                    </form>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-logout right-aligned" ng-click="logout()" >Log Out  <i class="glyphicon glyphicon-log-out"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 25px;">
    <button type="button" class="btn-floating btn-large red" data-toggle="modal" data-target="#postTopic"><i class="large material-icons fa fa-pencil"></i></button>
</div>

<div id="sideBar" class="input-field ">
    <label for="sortSelect">Sort By</label><br><br>
    <select name="sortSelect" id="singleSelect" ng-model="sortBy" ng-change="loadMore()">
      <option  value="avgRating">Average Rating</option>
      <option  value="upvotes">Maximum Upvotes</option>
      <option value="created">Time</option>
    </select>
</div>

<!--Post Topic Details-->
<div infinite-scroll="loadMore()">

<div class="container-fluid" id="topic" ng-repeat="topic in topics| filter: searchString track by $index">
    <div class="col-sm-6 ">
        <div class="event-title">
            <h3>{{topic.name}}</h3></div>
        <div class="event-content">
            <p>{{topic.description}}</p></div>
        <div class="topicUpvotes"><button class="btn btn-primary" ng-disabled="topic.voters_up == userId" ng-click="incrementUpvotes(topic._id)"><i class="fa fa-thumbs-o-up"></i>Like</button>
            Upvotes: <span>{{topic.upvotes}}</span></div>

        <div class="average">
            <average-star-rating ng-model="topic.avgRating" max="5"></average-star-rating> {{topic.avgRating | number :2}}  <br></div>
        <!--                        <div class="star-rating" star-rating  rating-value="topic.avgRating" data-max="5" on-rating-selected="rateFunction(topic.avgRating)"></div>-->
        <!--Post Reviews-->
        <form class="postReview" >
            <div class="form-group">
                <!--                                <input type="text" class="form-control" placeholder="Topic Id" ng-model="topicId" />-->
                <input type="text" class="form-control" placeholder="Post Review" ng-model="newReview" />
                <star-rating ng-model="reviewRating" max="5"></star-rating>{{reviewRating.rating}}<br/>

                <!-- <div class="star-rating" star-rating rating-value="reviewRating" data-max="5" on-rating-selected="rateFunction(reviewRating)"></div>-->

                <button type="submit" class="btn-small" ng-click="addReview(topic._id, newReview, reviewRating.rating)" >Post Review</button>
            </div>
        </form>    
        <!--  {{getReviews(topic._id)}}-->
        <!--Show Previous Reviews-->
        <div class="reviews">
            <h4 ng-if="topic.reviews !== undefined">Reviews </h4>
            <div ng-repeat="review in topic.reviews" class="reviewCard">    

                <div class="row ">
                    <div class="col-sm-6 left">
                        <span class="reviewerName">{{review.reviewerName}}</span><br>
                        <span class="reviewBody">{{review.body}}</span>
                    </div>
                    <div class="col-sm-6 right"><average-star-rating ng-model="review.rating" max="5"></average-star-rating> {{review.rating}} </div>   
                </div>
                    <div class="row reviewUpvotes"><button class="btn-small-2" ng-click="incrementReviewUpvotes(review._id)"><i class="fa fa-thumbs-o-up"></i>Like</button>
                        Upvotes: {{review.upvotes}} </div>
            </div>
        </div>
        <button class="seeMoreButton" ng-click="seeFullStory(topic._id)">See Full Story  <span style="font-size: 10px;">>><span></button>
    </div>

    <!--    Load More button -->
    <!--      <button ng-click="loadMore($index)" ng-hide="node.limit >= node.childs.length">Load more</button>-->
    <div class="col-sm-6">
        <carousel interval="myInterval" width="auto" height="auto">
        <slide ng-repeat="image in topic.imageArray" >
            <img class="img-responsive topicImage" ng-src="{{image}}" >
        </slide>
      </carousel>
    </div>
    <div class="col-sm-12 emptySpace">
    </div>

</div>
</div>

<div class="modal fade" id="postTopic" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add new Topic</h4>
        </div>
        <form name="myForm">
            <div class="modal-body">
                <div class="input-field">
                    <input type="text" ng-model="newName"  required />
                    <label  data-success="right">Title</label>
                </div>
                <div class="input-field">
                    <input type="text" ng-model="newDescription"  required/>
                    <label  data-success="right">Topic</label>
                </div>
                <!--                <input type="text" ng-model="newCategory" placeholder="Category" required/>-->
                <label>Category</label>
                <div class="input-field">
                    <select name="repeatSelect" id="repeatSelect" ng-model="newCategory" ng-options="category.name for category in categories">
                    </select>
                </div>
               <input type="file" ngf-select ng-model="picFile" name="file" required multiple accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile">
                <i ng-show="myForm.file.$error.required">*required</i><br>
                <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: Max 2MB</i>
                <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                <br>
                
                <span class="progress" ng-show="picFile.progress >= 0">
                    <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                </span>
                <span ng-show="picFile.result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" style="margin-right:10px;" class="btn btn-default" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Post</button>
            </div>
        </form>
    </div>
</div>