<div class="height100" style="padding-right:0px!important;">
	<div class="height100">
		<div class="modal-content height100">
			<div class="modal-header">
				<a><img ng-click="closeModal()" src="img/back-icon.png" width="26" height="24" alt="Back" align="left"></a>
				<h4 class="modal-title">{{'FORGOT_PASSWORD' |translate}}</h4>
			</div>
			<div class="modal-body">
				<form action="#" method="post">
					<div class="marginBot35">
						<input type="text" name="consumerId" ng-model="consumerId" placeholder="{{ 'Consumer_ID' | translate}}">
					</div>
					<div>
						<input type="number" name="mobileNo" ng-model="mobileNo"  placeholder="{{ 'Mobile_No' | translate}}">
					</div>
					<br>
					<div>
						<button type="button" class="btn btn-success" ng-click="submitForgetPassword()">
							GENERATE PASSWORD
						</button>
					</div>

				</form>

			</div>

		</div>
	</div>
</div>