@charset "utf-8";
/* CSS Document */
html, body{
    min-height: 100% !important;
    height: 100%;
}
body{
	margin:0px;
	padding:0px;
	font-family: 'LatoLight';
	font-size:14px;
	color:#333f4f;
	background:#f4f4f4;
	min-height:100%;
	position:relative;
	}

h1, h2, h3, h4, h5, h6, ul, p{ margin:0px; padding:0px;}
a:hover{
	text-decoration:none;
	}

/********** Common Classes *******/

.floatRit{float:right;}
.width100{width:100%;}
.minHeight{min-height:480px;}
.marginTop20{margin-top:20px;}
.marginLft10{margin-left:10px;}
.marginTop40{margin-top:40px;}
.marginBot35{margin-bottom:35px;}
.marginBot10{margin-bottom:10px;}	
.topBorder{border-top:1px solid #40ac99;}
.ritBorder{border-right:1px solid #40ac99;}
.paddingTop30{padding-top:30px;}
.paddingTop6{padding-top:6px;}
.paddingBottom40{padding-bottom:40px;}
.marginBottom100{margin-bottom:100px;}
.paddingLeftRight{padding:0px 30px;}
.paddingLftRit10{padding:0px 10px;}
.paddingLftRit15{padding:0px 15px;}
.paddingTB15{ padding:15px 0;}
.paddingTB{ padding:5px 0 15px;}
.textCenter{ text-align:center;}
.textRit{ text-align:right;}
.paddingRight{padding-right:0px!important;}
.height100{height:100%;}
.colorOrange{color:#ff7c35;}
.colorGreen{color:#00be6d!important;}
.colorGray{color:#484444;}
.borderlft{ border-left:1px solid #ccc;}
.borderbtm{ border-bottom:1px solid #abbabc;}
.borderbtm0{ border-bottom:0px!important;}
.bordertop0{ border-top:0px;}
.borderbtmdashed{ border-bottom:1px dashed #888;}
.lineheight25{ line-height:25px!important;}
.overflow{ overflow:hidden;}
.whitebg{background:#fff; border-bottom:1px solid #ccc;}
.padding0{ padding:0px!important;}
.padding20{ padding:20px!important;}
.padding5{ padding:5px!important;}
.topRit{top:7px!important;right:6px!important;}
.disTable{display:table;}
.disTableCell{display:table-cell; vertical-align:middle;}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/LatoLight_0.eot');
    src: url('../fonts/LatoLight_0.eot') format('embedded-opentype'),
         url('../fonts/LatoLight_0.woff2') format('woff2'),
         url('../fonts/LatoLight_0.woff') format('woff'),
         url('../fonts/LatoLight_0.ttf') format('truetype'),
         url('../fonts/LatoLight_0.svg#LatoLight_0') format('svg');
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/RalewayRegular.eot');
    src: url('../fonts/RalewayRegular.eot') format('embedded-opentype'),
         url('../fonts/RalewayRegular.woff2') format('woff2'),
         url('../fonts/RalewayRegular.woff') format('woff'),
         url('../fonts/RalewayRegular.ttf') format('truetype'),
         url('../fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}

@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/RalewayLight.eot');
    src: url('../fonts/RalewayLight.eot') format('embedded-opentype'),
         url('../fonts/RalewayLight.woff2') format('woff2'),
         url('../fonts/RalewayLight.woff') format('woff'),
         url('../fonts/RalewayLight.ttf') format('truetype'),
         url('../fonts/RalewayLight.svg#RalewayLight') format('svg');
}

/************* Login Screen Starts ************/

.login-bg{
	background:url(../../img/login-body-bg.jpg) left top no-repeat;
	background-size:cover;
	}
h1.logo{
	text-align:center;
	}
h1.logo img{
	display:inline;
	padding:120px 0;
	}
.select-user{
	width:100%;
	overflow:hidden;
	}
.select-user p{
	font-size:16px;
	color:#fff;
	font-family:LatoLight;
	text-align:center;
	}
.select-user p span{
	display:block;
	border-bottom:1px solid #fff;
	width:30%;
	padding-top:10px;
	text-align:center;
	margin:0 auto;
	}
.user button{
	font-family: 'RalewayRegular';
	width:100%;
	background:none;
	border:1px solid #fff;
	border-radius:50px;
	color:#fff;
	text-align:center;
	margin-top:20px;
	padding:10px;
	text-transform:uppercase;
	outline:none;
	}
.user button:focus{
	color:#00be6d;
	border:1px solid #00be6d;
	}
/****** Language Button ********/

.language{
	margin-top:10px;
	}
.language-btn{
	width:80px; 
	margin:0 auto; 
	padding:20px 0;
	}
.language .btn{
	padding:3px 10px;
	border-radius:0px;
	}
.language .btn{
	padding-bottom:0px;
	}
.language .btn-primary{
	color:#afb1b2;
	background: url(../../img/language-bg.png) left top repeat;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
	outline:none;
	border:none;
	font-family: 'LatoLight';
	font-size:13px;
	line-height:25px;
	}
.language .btn{padding: 0px 10px;}
.btn-primary:focus,.btn-primary.focus{
	color:#ff7c35;
	}
.btn-primary:hover{
	background: url(../../img/language-bg.png) left top repeat;
	}
.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{
	color:#ff7c35;
	border:none;
	}
.btn-primary:active:hover,.btn-primary.active:hover,.open>.dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open>.dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open>.dropdown-toggle.btn-primary.focus{color:#ff7c35;background: url(../../img/language-bg.png) left top repeat;border:none;}.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{color:#ff7c35;}
.btn:active, .btn.active{ box-shadow:none;background: url(../../img/language-bg.png) left top repeat;}

/********** Modal Box ********/

.modal-content {
    position: relative;
    background:url(../../img/login-bg.jpg) left top no-repeat;
	background-size:cover;
    border: 0px;
    border: 0px;
    border-radius:0px;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.modal-title{
	font-family: 'RalewayRegular';
	font-size:24px;
	color:#fff;
	text-align:center;
	display:block;
	}
.modal-title span{
	display:block;
	font-size:14px;
	font-family: 'RalewayLight';
	text-align:center;
	padding-left:22px;
	}
.close {
    float: left;
    font-size: 42px;
    font-weight: normal!important;
    color: #fff!important;
}
.modal-header{
	border-bottom:0px;
	margin-bottom:50px;
	padding-top:30px;
	}
.modal-body input{
	width:100%;
	background:none;
	border:none;
	border-bottom:1px solid #ecefed;
	color:#ecefed;
	padding:5px 0;
	font-family: 'LatoLight';
	font-size:16px;
	}
.modal-body input:focus{
	outline:none;
	}
.modal-body input::-webkit-input-placeholder {
   color:#ecefed;
}
.modal-body input:-moz-placeholder { /* Firefox 18- */
   color:#ecefed;
}
.modal-body input::-moz-placeholder {  /* Firefox 19+ */
   color:#ecefed;
}
.modal-body input:-ms-input-placeholder {  
   color:#ecefed;
}
form a{
	color:#ff7c35;
	font-size:12px;
	font-family: 'RalewayRegular';
	padding-top:25px;
	display:block;
	}
form button{
	border-radius:50px;
	width:100%;
	margin-top:30px;
	background:#00be6d!important;
	font-size:20px!important;
	font-family: 'RalewayRegular'!important;
	border-radius:50px!important;
	}
form button:hover{
	background:#068d53!important;
	}
form button:focus{
	outline:none!important;
	}
.dilog-footer{
	text-align:center;
	color:#ecefed;
	font-size:15px;
	font-family: 'RalewayLight';
	padding-top:30px;
	}
.dilog-footer a{
	color:#ff7c35;
	}
	
/******* Register Page Starts **********/

header{
	height:60px;
	background-color:#01353c;
	overflow:hidden;
	color:#fff;
	text-align:center;
	font-family:'RalewayRegular';
	font-size:20px;
	padding:15px;
	}

.register label{
	width:100%;
	padding:15px 3px 0 3px;
	font-size:14px;
	font-family: 'LatoLight';
	color:#1c4030;
	}

.register label span a{
	text-decoration:underline;
	}
.register input{
	width:100%;
	border-radius:5px;
	border:1px solid #ccc;
	padding:0 10px;
	height:32px;
	line-height:32px;
	font-family: 'LatoLight';
	font-size:14px;
	color:#939e99;
	}
.register select{
	width:100%;
	border-radius:5px;
	border:1px solid #ccc;
	padding:0 10px;
	height:32px;
	line-height:32px;
	font-family: 'LatoLight';
	font-size:14px;
	color:#939e99;
	}
.fa-map-marker{
	color:#ff7c35;
	font-size:18px;
	font-weight:bold;
	}
/********* Checkbox **********/
.custom-radio label.btn.active{ width:auto;}
.custom-radio input[type="radio"]{ display:none;}
.custom-radio label input[type="radio"]:checked ~ i.fa.fa-check-circle-o{
	color:#00be6d!important;
	}

.custom-radio label.btn span {
  font-size: 1.5em ;
  color:#1c4030;
}

.custom-radio label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
.custom-radio label input[type="radio"] ~ i.fa.fa-check-circle-o{
    display: none;
}
.custom-radio label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
.custom-radio label input[type="radio"]:checked ~ i.fa.fa-check-circle-o{
    color: #7AA3CC;    display: inline;
}

.addmore{
	border:1px solid #ff7c35;
	border-radius:8px;
	background:#FFC;
	padding:5px;
	text-align:center;
	font-size:18px;
	width:230px;
	margin-top:20px;
	}
.addmore a{
	color:#ff7c35;
	text-decoration:none;
	display:block;
	}
.addmore a strong{
	font-size:25px;
	}

footer{
	position:fixed;
	bottom:0px;
	width:100%;
	}
footer button{
	border:0px;
	background:#00be6d;
	height:60px;
	font-family:'RalewayRegular';
	color:#fff;
	font-size:20px;
	line-height:40px;
	width:100%;
	}
	
/********** Dashboard Starts *************/

header.dashboard{
	background:url(../../img/dashboard-hd-bg.jpg) left top no-repeat;
	background-size:cover;
	width:100%;
	overflow:hidden;
	height:auto!important;
	background-color:none;
	padding:20px 0px;
	}
.tittleBar{
	border-bottom:1px solid #8ea2a2;
	padding-bottom:20px;
	}
.profileName h1{
	font-family:'RalewayRegular';
	font-size:20px;
	text-align:left;
	font-weight:bold;
	position:relative;
	
	}
.profileName h1 a{
	color:#00be6d;
	text-decoration:none;
	padding:30px 15px 20px 0px;
	display:block;
	}
.profileName h1 span{
	display:block;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	padding-top:5px;
	}
.profileName h1 img{
	position:absolute;
	right:0px;
	top:40px;
	}
.view-order h1{
	font-family: 'LatoLight';
	font-size:24px;
	font-weight:bold;
	border-bottom:2px solid #ff7c35;	
	display:inline;
	padding-bottom:10px;
	position:relative;
	}
.view-order h1 span{
	width:30%;
	border-bottom:2px solid #f4f4f4;
	position:absolute;
	right:0px;
	top:13px;
	}
.listbox{
	border-radius:5px;
	border:1px solid #ccc;
	overflow:hidden;
	margin-top:15px;
	background:#fff;
	}
.daterow{
	border-bottom:1px solid #ccc;
	padding:15px 3px;
	font-size:14px;
	font-family: 'LatoLight';
	color:#939e99;
	}
.daterow span{
	float:right;
	display:inline-block;
	}
.refillOrder a span{
	border-radius:20px;
	border:3px solid #fff;
	padding:2px;
	display:inline-block;
	height: 38px;
    width: 38px;
	vertical-align:middle;
	}
.daterow span i.fa-check-circle, i.fa-times-circle, i.fa-clock-o{
	font-size:27px;
	vertical-align:middle;
	}
i.fa-clock-o{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	}

	
.listbox h2{
	font-size:15px;
	color:#939e99;
	font-family: 'LatoLight';
	}
.listbox h2 span{
	display:block;
	color:#1c4030;
	padding-top:5px;
	font-size:16px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	}
footer div.refillOrder{
	background:#00be6d;
	height:70px;
	font-family:'RalewayRegular';	
	font-size:20px;
	line-height:70px;
	width:100%;
	text-align:center;
	font-weight:normal;
	}
footer div.refillOrder a{
	color:#fff;
	display:block;
	}
	
/*********** Profile Starts *********/

.profiledetail label{
	color:#41cc91!important;
	font-weight:normal;
	font-size:16px!important;
	border-bottom:1px solid #abbabc;
	padding-bottom:5px!important;
	}
.profiledetail label span{
	color:#1c4030;
	font-size:14px;
	display:block;
	}
.fa-pencil-square-o{
	color:#fff;
	font-size:25px;
	}
/******* Prefill Order *******/

.cylinderType{
	font-size:16px;
	color:#1c4030;
	line-height:40px;
	}
span.input-group-btn button{
	background: none;
    border: none;
    color:#ff7c35;
    font-size: 20px;
    font-weight: bold;
	font-family:'RalewayRegular';
	}
span.input-group-btn button:hover{
	background:none;
	color:#ff7c35;
	border-color:none!important;
	}

span.input-group-btn .btn-danger[disabled], .btn-success[disabled]{
	background:none!important;
	color:#ff7c35;
	}

span.input-group-btn .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
	background: none!important;
	color:#ff7c35;
}

input.input-number{
	border-radius:8px!important;
	text-align:center;
	color:#1c4030;
	}
select{
	width:100%;
	border-radius:5px;
	border:1px solid #ccc;
	padding:0 10px;
	height:32px;
	line-height:32px;
	font-family: 'LatoLight';
	font-size:14px;
	color:#939e99;
	}
.form-control{
	min-width:42px!important;
	}
	
.select-distributor h1{
	font-size:18px;
	color:#00be6d;
	font-family: 'LatoLight';
	font-weight:bold;
	padding-top:20px;
	}
.select-distributor h1 span{
	font-size:12px;
	}
.select-distributor h1 span a{
	color:#ff7c35;
	text-decoration:underline;
	}
.select-distributor h2{
	font-size:16px;
	font-family:'RalewayRegular';
	font-weight:bold;
	}
.select-distributor p{
	font-size:14px;
	font-family:'RalewayRegular';
	padding-top:10px;
	}
.select-distributor .btn.active{
	background:none;
	}
.select-distributor .btn-default.active{
	color: #ffffff;
    background-color: #ff7c35;
    border-color: #ff7c35;
	}
.select-distributor .btn-default {
    color: #1c4030;
    background-color: #fff;
    border-color: #fff;
	border:1px solid #ccc;
	margin-right:5px;
}
.select-distributor .btn:active {
    color: #1c4030;
    background-color: #fff;
    border-color: #fff;
	border:1px solid #ccc;
}
footer a.button{
	border:0px;
	background:#00be6d;
	height:60px;
	font-family:'RalewayRegular';
	color:#fff;
	font-size:18px;
	line-height:60px;
	width:100%;
	display:block;
	text-align:center;
	}
/******** Feedback ***********/

.modal-content.feedback-content {
    position: relative;
	background:none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-content.feedback-content .close {
    float: right;
    font-size: 42px;
    font-weight: normal!important;
    color: #000!important;
}
.modal-content.feedback-content .modal-header {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
.rating-bar{
	background:#f4f4f4;
	border-radius: 10px 10px 0 0px;
	}
.rating-bar div{ 
	display:table; 
	margin:0px auto;
	}
.rating-bar div img{ 
	margin:15px 5px 0px 5px; 
	cursor:pointer;
	}
.modal-input input{ 
	color:#1c4030!important;
	}
.modal-textarea textarea{ 
	color:#1c4030!important;
	width:100%;
	margin-top:10px;
	border:0px;
	}
.modal-textarea textarea:focus{
	outline:none;
	} 
.modal-input input::-webkit-input-placeholder {
   color:#a9a9a9;
}
.modal-input input:-moz-placeholder { /* Firefox 18- */
   color:#a9a9a9;
}
.modal-input input::-moz-placeholder {  /* Firefox 19+ */
   color:#a9a9a9;
}
.modal-input input:-ms-input-placeholder {  
   color:#a9a9a9;
}
.submit-feedback{
	border:0px;
	border-radius:0px;
	background:#00be6d;
	height:60px;
	font-family:'RalewayRegular';
	color:#fff;
	font-size:20px;
	line-height:40px;
	width:100%;
	}
footer a:focus{
	text-decoration:none;
	}
	
/********* Settings **********/

ul.setting-list{
	margin:0px; 
	padding:0px; 
	list-style:none;
	}
ul.setting-list li{
	border-bottom:1px solid #ccc;
	font-family: 'LatoLight';
	font-size:16px;
	}
ul.setting-list li a{
	display:block;
	color:#1c4030;	
	padding:20px;
	}
.lang-butt{
	background:#fff;
	padding:5px 8px;
	color:#1c4030;
	font-family:'RalewayRegular';
	border:1px solid #ccc;
	font-size:13px;
	}
.lang-butt.btn:hover{
	color:#fff!important;
	}
.lang-butt.btn:active, .btn:focus{
	color:#fff;
	background:#22c064!important;
	}
	
/********** Order Success Screen **********/

.success-main{
	display:table;
	height:100%;
	width:100%;
	}
.success-sub{
	height:100%;
	display:table-cell;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
	}
.success-sub p{
	padding-top:10px;
	font-size:24px;
	line-height:30px;
	}
	
/*********** Notifications ************/

.selectall{
	border-bottom:1px solid #e2e2e2;
	padding:15px;
	color:#1c4030;
	font-size:16px;
	}
.selectall input{
	width:20px;
	height:20px;
	vertical-align:middle;
	margin-top:-4px;
	}
ul.notificationsList{
	margin:0px; 
	padding:0px;
	list-style:none;
	}
ul.notificationsList li{
	border-bottom:1px solid #e2e2e2;
	padding:15px;
	font-size:14px;
	font-family:'RalewayRegular';
	color:#1c4030;
	}
ul.notificationsList li:nth-child(even){
	background:#fff;
	}
ul.notificationsList li input{
	float:left;
	width:20px;
	height:20px;
	}
ul.notificationsList li p{
	overflow:hidden;
	padding-left:10px;
	line-height:22px;
	}
ul.notificationsList li p span{
	display:block;
	color:#00be6d;
	}
	
	
/*********** Distributor App Starts *************/

header.dis_dashboard{
	width:100%;
	overflow:hidden;
	height:auto!important;
	background:none!important;
	padding:20px 0px;
	}
header.dis_dashboard .tittleBar{
	border-bottom:1px solid #fff;
	}

ul.dis_menu{
	margin:40px 0 0 0;
	padding:0px;
	list-style:none;
	}
ul.dis_menu li{
	color:#fff;
	text-align:center;
	display:block;
	margin-top:20px;
	font-size:18px;
	font-family: 'LatoLight';
	}
ul.dis_menu li span{
	padding:10px 0 20px 0;
	display:block;
	}
ul.dis_menu li div{
	border-radius:150px;
	background:#00be6d;
	text-align:center;
	width:200px;
	height:200px;
	margin:0 auto;
	line-height:200px;
	}
ul.dis_menu li a{ 
	display:block;
	color:#fff;
	}
	
/************* Distributor Order Section ************/

.dis-order h3{
	padding-top:20px;
	font-size:16px;
	font-family: 'LatoLight';
	color:#1c4030;
	font-weight:bold;
	}
.dis-order h3 span a{
	color:#ff7c35;
	}
.dis-order button{
	font-size:13px;
	width:100%;
	padding:7px;
	margin-bottom:10px;
	}
.dis-order-box{
	border-radius:5px;
	border:1px solid #ccc;
	padding:5px;
	overflow:hidden;
	margin:10px 0;
	background:#fff;
	}
.dis-order-box div{
	font-size:14px;
	color:#1c4030;
	}
.dis-order-box div span{
	font-size:14px;
	display:block;
	font-weight:bold;
	}
.delivery-date{
	display:block;
	position:relative;
	}
.delivery-date input{
	font-size:14px;
	border:1px solid #ccc;
	padding:10px;
	font-weight:normal;
	position:relative;
	width:100%;
	border-radius:5px;
	}
.delivery-date .fa-calendar-minus-o{
	position:absolute;
	right:10px;
	font-size:18px;
	color:#ff7c35;
	top:12px;
	}
.searchbox{
	position:relative;
	}
.searchbox input{
	width:100%;
	border:1px solid #ccc;
	border-radius:5px;
	padding:10px 10px 10px 30px;
	margin:20px 0;
	}
.searchbox label{
	position:absolute;
	top:0;
	left:0px;
	z-index:1;
	}
.searchbox label button{
	background:none;
	border:0px;
	padding:12px;
	}
.searchbox label button:focus{
	outline:none;
	}
	
/*********** Reports *************/

.report-tab .nav-tabs {
    border-bottom: 1px solid #fff;
	background:#fff;
}
.report-tab ul li{
	text-align:center;
	font-size:16px;
	font-family: 'LatoLight';
	border:0px;
	position:relative;
	}
.report-tab ul li a{
	display:block;
	color:#1c4030;
	padding:15px 0;
	border:0px;
	margin-right:0px;
	}
.report-tab ul li span{
	background:url(../../img/tab-rit-border.jpg) left top no-repeat!important;
	width:1px;
	position:absolute;
	right:0px;
	top:12px;
	height:30px;
	}
.report-tab .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	color: #00be6d;
    border-color: transparent;
    background:#fff;
}
.report-tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #00be6d;
    border-color: transparent;
	border-bottom:2px solid #00be6d;
    cursor: default;
	font-weight:bold;
}
ul.report-list{
	margin:0px; 
	padding:0px; 
	list-style:none;
	}
ul.report-list li{
	text-align:center;
	font-size:20px;
	line-height:23px;
	min-height:200px;
	font-family: 'LatoLight';
	border-bottom:1px solid #ccc;
	}
ul.report-list li span{
	font-size:50px;
	color:#ff7c35;
	display:block;
	padding-bottom:20px;
	}
.tabContent{
	background:#fefefe url(../../img/.jpg)50% top repeat-y; 
	overflow:hidden;
	}

	
@media screen and (max-width: 640px) {
	ul.dis_menu li div{
	width:115px;
	height:115px;
	line-height:110px;
	}
	ul.dis_menu li div img{ width:55px; height:auto;}
	ul.dis_menu li{font-size:14px;}
}tab-rit-border