<div class="height100">
	<headers>

	</headers>
	<div class="container">
		<form class="register" name="chngePwdform">
			<br>
			<div class="row">
				<div class="col-xs-12">
					<label>{{ 'CURRENT_PASSWORD' | translate}}</label>
					<input type="password" value="" name="oldPassword" ng-model="oldPassword" class="form-control" placeholder="{{ 'CURRENT_PASSWORD' | translate}}"
					ng-minlength="6" ng-maxlength="6" ng-pattern="/^0|[1-9][0-9]*$/" required>
					<div ng-messages="chngePwdform.oldPassword.$error">
						<div ng-message="required">
							{{ 'This_field_is_required' | translate}}
						</div>
						<div ng-message="minlength">
							{{ 'Username_is_too_short' | translate}}
						</div>
						<div ng-message="maxlength">
							{{ 'Username_is_too_long' | translate}}
						</div>
						<div ng-message="pattern">
							field should be number
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<label>{{ 'NEW_PASSWORD' | translate}}</label>
					<input type="password" value="" name="newPassword"  ng-model="newPassword" class="form-control" placeholder="{{ 'NEW_PASSWORD' | translate}}"
					ng-minlength="6" ng-maxlength="6" ng-pattern="/^0|[1-9][0-9]*$/"  required>
					<div ng-messages="chngePwdform.newPassword.$error">
						<div ng-message="required">
							{{ 'This_field_is_required' | translate}}
						</div>
						<div ng-message="minlength">
							{{ 'Username_is_too_short' | translate}}
						</div>
						<div ng-message="maxlength">
							{{ 'Username_is_too_long' | translate}}
						</div>
						<div ng-message="pattern">
							field should be number
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<label>{{ 'CONFIRM_NEW_PASSWORD' | translate}}</label>
					<input type="password" value="" name="confirmPassword"  ng-model="confirmPassword" class="form-control" placeholder="{{ 'CONFIRM_NEW_PASSWORD' | translate}}"
					ng-minlength="6" ng-maxlength="6" ng-pattern="/^0|[1-9][0-9]*$/"  required>
					<div ng-messages="chngePwdform.confirmPassword.$error">
						<div ng-message="required">
							{{ 'This_field_is_required' | translate}}
						</div>
						<div ng-message="minlength">
							{{ 'Username_is_too_short' | translate}}
						</div>
						<div ng-message="maxlength">
							{{ 'Username_is_too_long' | translate}}
						</div>
						<div ng-message="pattern">
							field should be number
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Footer -->

<footer>
	<button ng-click="submitChangedPassword()" ng-disabled="oldPassword == undefined || newPassword == undefined || confirmPassword == undefined">
		SUBMIT
	</button>
</footer>

